<p>Hi {{name}},</p>

<p>Your payout request has been <strong>approved</strong>.</p>

<ul>
  <li><strong>Fundraiser:</strong> {{fundraiserTitle}}</li>
  <li><strong>Amount:</strong> ₹{{amount}}</li>
</ul>

<p>
Your payout will be processed shortly.  
You will be notified once the amount is transferred.
</p>

<p>– Team RaiseAPlayer</p>
